footer {
  width: calc(100% - 6.5rem);
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 50px 0 82px 0;
  margin: 0 3.25rem;
  font-size: 12px;
  border-top: 1px solid black;
  text-align: start;
  background-color: white;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
}
li{
    margin-right: 20px
}